section{
    position: relative;
    width: 100%;
    height: 100%;
    // transition: .5s;
    // transform: translateX(-3000px);
    #chatSection{
        position: fixed;
        bottom: 100px;
        right: 15px;
        background: white;
        border-radius: 20px;
        width: 320px;
        border: 2px solid #dcab54;
        transition: .5s;
        transform: translateX(3000px);
        #chatHeader{
            padding: 20px 10px 15px 0;
            background: #dcab54;
            color: #fff;
            position: relative;
            border-top-right-radius: 16px;
            border-top-left-radius: 16px;
            user-select: none;
            h4{
                margin-left: 36px;
            }
            #closeChatBtn{
                position: absolute;
                top: -16px;
                left: -16px;
                background: red;
                outline: none;
                border: 3px solid white;
                color: white;
                padding: 5px;
                font-size: 26px;
                border-radius: 50%;
                width: 36px;
                height: 36px;
                line-height: 14px;
                font-weight: 600;
                transition: .3s;
            }
            #closeChatBtn:hover{
                transform: scale(1.15);
                transition: .3s;
            }
        }
        #chatbox{
            margin: 10px 5px;
            min-height: 275px;
            max-height: 300px;
            overflow-y: auto;
            #userChat{
                padding: 5px;
                list-style-type: none;
                #userChatList{
                    position: relative;
                    width: 100%;
                    #userData{
                        margin: 10px 0;
                        // border-bottom: 2px solid #0d6efd;
                        padding: 0 0 5px 0;
                        #u_circle{
                            width: 45px;
                            height: 45px;
                            background: #0d6efd;
                            border-radius: 50%;
                            float: left;
                            position: relative;
                        }
                        #u_circle_img{
                            border-radius: 50%;
                            float: left;
                            background:white; 
                            img{
                                border: 2px solid #0d6efd;
                            } 
                        }
                        #u_chat_msg{
                            margin-left: 50px;
                            color: #0d6efd;
                            #u_name{
                                font-weight: 600;
                            }
                            #u_Msg{
                                p{
                                    margin-bottom: 7px;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
        #inputText{
            margin: 15px 10px;
            input{
                outline: none;
                border: none;
                border-bottom: 2px solid #dcab54;
                width: 75%;
                color: #0d6efd;
                font-size: 16px;
                padding: 5px;
            }
            button{
                float: right;
                outline: none;
                border: none;
                background: #dcab54;
                color: white;
                padding: 3px 10px;
                border-radius: 5px;
                font-size: 14px;
            }
        }
    }    
}
#circle_letter{
    position: absolute;
    color: white;
    font-weight: 500;
    font-size: 30px;
    left: 50%;
    transform: translate(-48%);
}
@media only screen and (max-height: 560px){
    #chatSection{
        bottom: 64px !important;
    }
    #chatbox{
        min-height: 120px !important;
        max-height: 120px !important;
    }
}
