#arrowButtons{
    color: white;
    #arrLeft,#arrRight{
        cursor: pointer;
        position: fixed;
        bottom: 15%;
        font-weight: 600;
        background-color: #e17044;
        border-radius: 50%;
        width: 46px;
        height: 46px;
        text-align: center;
        box-shadow: 0 0 5px 2px #e17044;
        .fa{
            font-size: 48px;
            // background: black;
            border-radius: 50%;
            line-height: 46px;
        }
        
    }
    #arrLeft{
        left: 3%;
    }
    #arrRight{
        right: 3%;
    }
}
#arrLeft:hover, #arrRight:hover{
    transition: .3s;
    transform: scale(1.2);
}

.p1{
    top: 48%;
    left: 39.3%;
}
.p2{
    top: 48%;
    left: 52%;
}
.p3{
    
    top: 70%;
    left: 14.5%;

}
.p4{
    top: 40%;
    left: 59.5%;
}
.p5{
    top: 58%;
    left: 68%;
}
.p6{
    top: 47.7%;
    left: 15%;
}

.p7{
    
    top: 40%;
    left: 32%;
}
.p8{
    top: 47%;
    left: 78%;
}
.p9{
    top: 70%;
    left: 45.6%;

}
.p10{
    
    top: 48%;
    left: 65%;
}
.p11{
    top: 70%;
    left: 78.5%;
}
.p12{
    top: 57%;
    left: 46%;
}
.p13{
    top: 48%;
    left: 27%;
}
.p14{
    top: 57%;
    left: 25.5%;
}
.p15{
    top: 39.7%;
    left: 45.5%;
}