#boothIcons{
    position: absolute;
    top: 20%;
    left: 0;
    transform: translateY(-50%);
    ul{
        padding: 3px;
        li{
            list-style: none;
            cursor: pointer;
            text-decoration: none;
            padding: 8px 24px 8px 10px;
            border-radius: 5px;
            margin: 28px 5px;
            background-color: white;
            position: relative;
            text-transform: capitalize;
            transition: .3s;
            // transform: translateX(-105px);
            a{
                list-style: none;
                text-decoration: none;
                color: black;
                span{
                    width: 46px;
                    position: absolute;
                    right: -24px;
                    background: #fff;
                    top: -6px;
                    border-radius: 50%;
                    padding: 10px;                                    
                    img{
                        width: 100%;
                        transition: .3s;
                    }
                    
                }
            }
        }
        li:hover{
            transform: translateY(-5px);
            transition: .3s;
            img{
                transition: .3s;
                transform: scale(1.5);
            }
        }
    }
}

@media only screen and (max-width: 800px) {
  #boothIcons {
    top: 30% !important;
  }
}


.p1{
    top: 50%;
    left: 28%;
}
.p2{
    top: 50%;
    left: 39%;
}
.p3{
    top: 50%;
    left: 50%;
}
.p4{
    top: 50%;
    left: 62%;
}
.p5{
    top: 50%;
    left: 73%;
}


#socialicons{
  position: absolute;
    top: 25%;
    right: 3%;
    display: grid;
    img, i{
      transform: scale(.75);
      transition: .3s;
      padding: 1px;
    }
    img:hover, i:hover{
      transform: scale(.9);
      transition: .3s;
    }
}
@media only screen and (max-width: 768px) {
  #socialicons{
      img{
        width: 33px;
        padding: 3px;
    }
    i{
        width: 33px;
        margin-left: 2px;
    }
  }
}


img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
  }
  
  .btn:hover {
    background-color: rgba(255, 255, 255, 0.12);
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 100%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 100%;
    }
  }
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    padding: 0.3rem;
    background: #fff;
  }
  
  .card_title {
    color: #000;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
    color: #ffffff;
    font-size: 0.875rem;
    margin-bottom: 0.15rem;
    font-weight: 400;
  }
  .row{
    --bs-gutter-x: 0rem;
  }

  .time-part {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .time-part .time-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
  }
  .time-part .time-list li {
    margin: 5px 10px;
    text-align: center;
    min-width: 150px;
    line-height: 35px;
  }
  .time-part .time-list li a {
    color: #333;
    padding: 0px 30px;
    font-size: 14px;
    display: block;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
    transition: all .3s linear;
  }
  .time-part .time-list li  a:hover {
    text-decoration: none;
    outline: none;
    background: #000000c9;
    color:white;
  }

  .videoplay {
    position: absolute;
    
    bottom: 38%;
    left: 55.8%;

    cursor: pointer;
    // background: black;
    height: 6vw;
    width: 4vw;       
.pulsating-circle{
    position: absolute;
    top: 50%;
    left: 50%;
    cursor: pointer;
}
}
#onloadPlayer{
  video{
      border-radius: 0px;
  }
  position: absolute;
  width: 17.4%;
  top: 59%;
    left: 39.2%;
  border: 3px solid #000;
  border-radius: 0px;
  line-height: 0%;
  // box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
}

#back{
  position: absolute;
  top: 10px;
  left: 10px;
  background: #141433;
  color: white;
  z-index: 100;
  font-weight: 600;
  font-size: 14px;
  // padding: 2px;
  border: 1px solid #060a39;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 0px;
  a{
      text-transform: capitalize;
      color: white;
  }
}