#bgimgvh{
    width: 100%;
    height: 100vh;
}


#onloadPlayer{
    video{
        border-radius: 10px;
    }
    position: absolute;
    width: 20%;
    top: 30%;
    left: 39.5%;
    border: 3px solid #000;
    border-radius: 10px;
    line-height: 0%;
    // box-shadow: 0px 5px 12px 0 rgba(0, 0, 0, 0.5);
}