.l1{
    position: absolute;
    height: 4%;
    width: 10%;
    cursor: pointer;
    left: 13%;
    top: 72%;
}

.l2{
    position: absolute;
    height: 4%;
    width: 10%;
    cursor: pointer;
    left: 37%;
    top: 72%;
}

.l3{
    position: absolute;
    height: 4%;
    width: 10%;
    cursor: pointer;
    left: 59.55%;
    top: 72%;

}

.l4{
    position: absolute;
    height: 4%;
    width: 10%;
    cursor: pointer;
    left: 81.35%;
    top: 72%;

}