<section id="bg_section">
    <div id="content_section">
        <img id="bgimg" src="assets/event/rooms.jpg" alt="">
        <div class="l1" title="IBM" (click)="gotoMeeting('ibm')">
            <div class="pulsating-circle"></div>
        </div>
        <div class="l2" title="HEXAGON" (click)="gotoMeeting('hexagon')">
            <div class="pulsating-circle"></div>
        </div>
        <div class="l3" title="GadgEon" (click)="gotoMeeting('gadgeon')">
            <div class="pulsating-circle"></div>
        </div>
        <div class="l4" title="Open Room" (click)="gotoMeeting('openroom')">
            <div class="pulsating-circle"></div>
        </div>
    </div>
</section>