.t_all_popup_header{
    text-align: center;
    padding: 15px;
    background: #1a3131;
    color: white;
}
#closeChatBtn{
    position: absolute;
    top: -15px;
    left: -15px;
    background: red;
    color: white;
    border-radius: 50%;
    border: 3px solid white;
    width: 42px;
    height: 42px;
    transition: 0.3s;
    span{
        font-size: 28px;
        line-height: 28px;
        font-weight: 500;
    }
}
#closeChatBtn:hover{
    transition: .3s;
    width: 45px;
    height: 45px;
}
.chat_box{
    .chat_message{
      list-style-type: none;
      padding: 0;
      display: inline-block;
      // height: 400px;
      height: 360px;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      margin-bottom: 5px;
      .chat_messageList{        
        padding: 10px;
        .img_avatar{
          float: left;
          width: 46px;
          img{
            width: 28px;
          }
        }
        p{
          .person{
            display: block;
            color: #292f35;
            font-weight: bold;
            font-size: 14px;
            float: left;
            cursor: pointer;
            margin-right: 15px;
            text-transform: capitalize;
            line-height: 18px;
            .checkProfile{
              text-decoration: none;
              outline: none;
              color: #292f35;
            }
          }
          .time {
            float: right;
            color: dimgrey;
            line-height: 18px;
          }
        }
        .text_message{
          font-size: 12px;
          font-weight: 500;
          line-height: 15px;
          margin-left: 48px;
          clear: both;
          margin-bottom: 5px;
        }
      }
      // .user-profile-row:nth-child(even){
      //   background: #e8e8e8;
      // }
      .user-profile-row {
        transition: .3s;
        width: 82%;
        display: flex;
        align-items: center;
       // background-color: #fff;
        margin: 12px 21px;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        border-radius: 46px 1px;
        padding: 18px;
        .user-profile-data {
            width: 85%;
            display: inline-block;
            .user-profile-image {
                width: 56px;
                float: left;
                img{
                  // border: 2px solid crimson;
                  border-radius: 50%;
                }
            }
            .user-profile-info {
                max-width: 70%;
                float: left;
            }
            .user-profile-name {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 5px;
                line-height: 15px;
                color: #000;
                text-transform: capitalize;
                a{
                    text-decoration: none;
                    outline: none;
                    color: var(--primary-color);
  
                }
            }
            .user-profile-company {
                font-size: 12px;
                font-weight: 400;
                line-height: 12px;
                color: #000;
                margin-bottom: 0px;
            }
  
        }
    }
    .user-profile-row:hover{
      transition: .3s;
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
  
    }
    }
  }
  .message_input {
    padding: 10px;
    textarea {
      border: none;
      height: 90px;
      box-sizing: border-box;
      outline-width: 0;
      padding: 10px;
      font-size: 14px;
      width: 78% !important;
      border-radius: inherit;
      border-radius: 2px;
      background: #e8e8e8;
      border: 0px;
      padding: 10px 5px 6px 15px;
      // line-height: 11px;
      /* margin-left: 15px; */
      resize: none;
      border: 1px solid #e8e8e8;
      outline: none;
    }
    #chatBtn{
      width: 20%;
      font-size: 12px;
      background: #ebebeb;
      padding: 2px;
      box-shadow: none;
      height: 40px;
      border-radius: inherit;
      background: crimson;
      // background: #292f35;
      border: navajowhite;
      margin-top: 0;
      svg{
        color: #fff;
  
      }
    }
  }
  